* {
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-size: 24px;
}

textarea,
input,
button {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}