$mainColour: rgb(247, 247, 247);
$mainFirstColour: rgb(22, 21, 26);
$mainThirdColour: rgb(66, 63, 66);
$mainThirdColour05: rgba(66, 63, 66, 0.5);
$placeholderColor: rgb(150, 150, 150);

$minWidth: 320px;
$maxContainerWidth: 100%;

$media992: 991.98px;
$media768: 767.98px;
$media480: 479.98px;